<h3><%= @question.name %></h3>
<% @answers.each do |answer| %>
	<p class='answer'><%= answer.name%></p>
<% end %>

<h3>Submit answer</h3>
<%= form_for :answer, url: question_answers_path(@question) do |f| %>
	<%= f.label 'Name' %>
	<%= f.text_area :name %><br>
	<%= f.submit %>
<% end %>